body {
    background-color: white;
}
.score-card {
    margin: 5px;
    background-color: green;
    padding: 50px;
    border-radius: 5px;
    display: inline-block;
    color: yellow;
}
.text-large {
    font-size: 200px;
}

.link-card {
    background-color: lightgrey;
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
}

.is-pointless {
    background-color: red;
}